        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        li {
            list-style: none;
        }

        a {
            text-decoration: none;
            /* color:currentColor; */
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: #333;
        }

        .navigation {
            /* 五个每个宽70 */
            position: relative;
            width: 350px;
            height: 70px;
        }

        .navigation ul {
            display: flex;

        }

        .navigation ul li {
            position: relative;
            text-align: center;
            /* background: #ccc; */
            width: 70px;
            height: 70px;
        }

        .navigation ul li a {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .navigation ul li a .logo {
            position: relative;
            line-height: 75px;
            color: #fff;
            transition: .5s;
            font-size: 30px;
        }

        .navigation ul li.active a .logo {

            font-size: 20px;
            transform: translateY(-6px);
            margin-bottom: 5px;
        }

        .navigation ul li a .text {
            position: absolute;
            font-size: 12px;
            top: 50px;
            font-weight: bold;
            color: #fff;
            transition: 0.25s;
            transform: scale(0);
        }

        .navigation ul li.active a .text {
            transform: scale(1);
        }

        .indicator {
            position: absolute;
            width: 70px;
            height: 70px;
            top: 0px;
            left: 0px;
            z-index: -1;
            /* opacity: .4; */
            border-radius: 10px;
            transition: 0.5s;
        }

        .navigation ul li:nth-child(1).active~.indicator {
            background: rgb(29, 155, 240);
            box-shadow: 0px 15px 25px rgb(29, 155, 240);
            transform: translateX(calc(70px * 0));
        }

        .navigation ul li:nth-child(2).active~.indicator {
            background: #07c160;
            box-shadow: 0px 15px 25px #07c160;
            transform: translateX(calc(70px * 1));
        }

        .navigation ul li:nth-child(3).active~.indicator {
            background: rgb(255, 0, 0);
            box-shadow: 0px 15px 25px rgb(255, 0, 0);
            transform: translateX(calc(70px * 2));
        }

        .navigation ul li:nth-child(4).active~.indicator {
            background: rgb(6, 7, 22);
            box-shadow: 0px 15px 25px rgb(6, 7, 22);
            transform: translateX(calc(70px * 3));
        }

        .navigation ul li:nth-child(5).active~.indicator {
            background: rgb(153, 153, 153);
            box-shadow: 0px 15px 25px rgb(153, 153, 153);
            transform: translateX(calc(70px * 4));
        }